<!DOCTYPE html>
<html>
<head>
    <title>BusPass Cloud</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>

<nav>
    <h1>🚍 BusPass Cloud</h1>
    <div>
        <a href="/">Home</a>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </div>
</nav>

<div class="container center">
    <div class="card" style="text-align:center;">
        <h2>Cloud Bus Pass System</h2>
        <p>Fast • Secure • Simple Booking System</p>

        <a href="/register">
            <button>Get Started</button>
        </a>
    </div>
</div>

</body>
</html>
