<!DOCTYPE html>
<html>
<head>
    <title>Success</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav>
    <h1>🚍 BusPass Cloud</h1>
    <a href="/book">Book Again</a>
    <a href="/logout">Logout</a>
</nav>

<div class="container center">

    <div class="card" style="text-align:center;">

        <h2>🎉 Booking Successful</h2>

        <p>Ticket ID: {{ ticket_id }}</p>
        <p>Total Price: ₹{{ price }}</p>

        <a href="/download/{{ ticket_id }}">
            <button>Download PDF</button>
        </a>

        <br><br>

        <a href="/book">Book Another Ticket</a>

    </div>

</div>

</body>
</html>
